@import "@mixins";
@import "@constants";

.container {
    @include flex(space-between, flex-start, 32px, column);
    width: 100%;
    max-width: 1400px;
    padding: 20px 16px;

    @include laptop-large {
        max-width: 90%;
    }

    .title_container {
        .title {
            @include font($font-size-medium, 400, inherit);
            border-bottom: 2px solid $black-color;
            padding: 4px 6px;
        }
    }

    .cards_container {
        width: 100%;
        display: grid;

        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); 
        grid-gap: 32px;

        @include laptop-small {
            grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); 
        }


        @include mobile-large {
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
        }

    }
    
}